<template>
  <nuxt-link :to="{ name: 'news-slug', params: { slug: item.slug } }" class="shadow-lg rounded flex flex-col h-full w-full">
    <div class="relative aspect-ratio-16-9__wrapper">
      <div
        class="
            absolute
            rounded-t
            w-full
            h-full
            bg-cover
            bg-center
            bg-no-repeat
          "
        :style="`background-image: url('${item.poster_url}')`"
      ></div>
    </div>

    <div class="px-4 py-4 flex flex-col h-full">

      <div class="text-sm text-gray-primary">{{ item.published_at | formatDateLLL }}</div>
      <div
        class="my-1 text-xl font-semibold text-blue-primary"
      >
        {{ item.title }}
      </div>

      <div class="text-gray-primary" v-if="large">
        {{ item.description }}
      </div>

      <!--      <div class="mt-auto py-2" v-if="item.tags">-->
      <!--        <span v-for="item in item.tags" class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{ item.name }}</span>-->
      <!--      </div>-->


    </div>
  </nuxt-link>

</template>

<script>
export default {
  name: "NewsCard",
  props: {
    large: {
      type: Boolean,
      default: false
    },
    item: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>
.aspect-ratio-16-9__wrapper {
  width: 100%;
  padding-bottom: 56.25%;
}

a {
  transition: all .4s ease-in-out;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
  transform: scale(1.025);
}
</style>
