<template>
  <svg
    version="1.1"
    id="Layer_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 503.607 503.607"
    style="enable-background: new 0 0 503.607 503.607"
    xml:space="preserve"
  >
    <g transform="translate(1 1)">
      <g>
        <g>
          <path
            d="M385.098,57.754h-41.967v-8.393c0-9.233-7.554-16.787-16.787-16.787h-25.18V24.18c0-14.269-10.911-25.18-25.18-25.18
				h-50.361c-14.269,0-25.18,11.751-25.18,25.18v8.393h-25.18c-9.233,0-16.787,7.554-16.787,16.787v8.393h-41.967
				c-23.502,0-41.967,18.466-41.967,41.967v360.918c0,23.502,18.466,41.967,41.967,41.967h268.59
				c23.502,0,41.967-18.466,41.967-41.967V99.721C427.066,76.22,408.6,57.754,385.098,57.754z M175.262,49.361h33.574
				c5.036,0,8.393-3.357,8.393-8.393V24.18c0-5.036,3.357-8.393,8.393-8.393h50.361c5.036,0,8.393,4.197,8.393,8.393v16.787
				c0,5.036,3.357,8.393,8.393,8.393h33.574v16.787v41.967H175.262V66.148V49.361z M410.279,460.639
				c0,14.269-10.911,25.18-25.18,25.18h-268.59c-14.269,0-25.18-10.911-25.18-25.18V99.721c0-14.269,10.911-25.18,25.18-25.18
				h41.967v33.574c0,9.233,7.554,16.787,16.787,16.787h151.082c9.233,0,16.787-7.554,16.787-16.787V74.541h41.967
				c14.269,0,25.18,10.911,25.18,25.18V460.639z"
          />
          <path
            d="M275.984,401.885H141.689c-5.036,0-8.393,3.357-8.393,8.393s3.357,8.393,8.393,8.393h134.295
				c5.036,0,8.393-3.357,8.393-8.393S281.02,401.885,275.984,401.885z"
          />
          <path
            d="M275.984,326.344H141.689c-5.036,0-8.393,3.357-8.393,8.393c0,5.036,3.357,8.393,8.393,8.393h134.295
				c5.036,0,8.393-3.357,8.393-8.393C284.377,329.702,281.02,326.344,275.984,326.344z"
          />
          <path
            d="M275.984,250.803H141.689c-5.036,0-8.393,3.357-8.393,8.393c0,5.036,3.357,8.393,8.393,8.393h134.295
				c5.036,0,8.393-3.357,8.393-8.393C284.377,254.161,281.02,250.803,275.984,250.803z"
          />
          <path
            d="M275.984,175.262H141.689c-5.036,0-8.393,3.357-8.393,8.393s3.357,8.393,8.393,8.393h134.295
				c5.036,0,8.393-3.357,8.393-8.393S281.02,175.262,275.984,175.262z"
          />
          <path
            d="M373.348,151.761c-3.357-2.518-9.233-1.679-11.751,1.679l-27.605,34.506l-10.165-10.165
				c-3.357-3.357-8.393-3.357-11.751,0c-3.357,3.357-3.357,8.393,0,11.751l16.343,16.343c0.376,0.483,0.8,0.921,1.283,1.283
				c0.092,0.046,0.184,0.091,0.276,0.137c1.342,1.023,2.794,1.541,4.76,1.541c0.315,0,0.617-0.013,0.907-0.039
				c2.205-0.188,4.331-1.103,5.808-3.318l33.574-41.967C377.544,160.154,376.705,154.279,373.348,151.761z"
          />
          <path
            d="M373.348,227.302c-3.357-2.518-9.233-1.679-11.751,1.679l-27.605,34.506l-10.165-10.165
				c-3.357-3.357-8.393-3.357-11.751,0c-3.357,3.357-3.357,8.393,0,11.751l16.343,16.343c0.376,0.484,0.8,0.921,1.283,1.283
				c0.092,0.046,0.184,0.092,0.276,0.138c1.342,1.023,2.794,1.541,4.76,1.541c0.315,0,0.617-0.013,0.907-0.039
				c2.205-0.188,4.331-1.103,5.808-3.318l33.574-41.967C377.544,235.695,376.705,229.82,373.348,227.302z"
          />
          <path
            d="M373.348,302.843c-3.357-2.518-9.233-1.679-11.751,1.679l-27.605,34.506l-10.165-10.165
				c-3.357-3.357-8.393-3.357-11.751,0c-3.357,3.357-3.357,8.393,0,11.751l16.343,16.343c0.376,0.483,0.8,0.921,1.283,1.283
				c0.092,0.046,0.184,0.091,0.276,0.137c1.342,1.023,2.794,1.541,4.76,1.541c0.315,0,0.617-0.013,0.907-0.039
				c2.205-0.188,4.331-1.103,5.808-3.318l33.574-41.967C377.544,311.236,376.705,305.361,373.348,302.843z"
          />
          <path
            d="M373.348,378.384c-3.357-2.518-9.233-1.679-11.751,1.679l-27.605,34.506l-10.165-10.165
				c-3.357-3.357-8.393-3.357-11.751,0c-3.357,3.357-3.357,8.393,0,11.751l16.343,16.343c0.376,0.484,0.8,0.921,1.283,1.283
				c0.092,0.046,0.184,0.092,0.276,0.138c1.342,1.023,2.794,1.541,4.76,1.541c0.315,0,0.617-0.013,0.907-0.039
				c2.205-0.188,4.331-1.103,5.808-3.318l33.574-41.967C377.544,386.777,376.705,380.902,373.348,378.384z"
          />
        </g>
      </g>
    </g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
  </svg>
</template>