<template>
  <div>
    <section class="section">

      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><nuxt-link to="/">Главная</nuxt-link></li>
            <li class="breadcrumb-item active" aria-current="page"><nuxt-link :to="{ name: 'projects' }">Проекты</nuxt-link></li>
            <li class="breadcrumb-item active" aria-current="page">{{ project.title }}</li>
          </ol>
        </nav>

        <h1 class="text-3xl font-bold mb-6">{{ project.title }}</h1>


        <div class="flex w-full flex-wrap">
          <div class="flex w-full lg:w-3/5 pr-0 pr-lg-5">
            <div
              class="p-2 rounded-2xl w-full h-64 lg:h-96 bg-cover bg-no-repeat bg-center"
              :style="`background-image: url(${project.poster_url})`"
            ></div>
          </div>
          <div class="flex w-full flex-col lg:w-2/5">
            <hr class="pattern mb-3">

            <!--          <div class="font-semibold text-lg">Даты проведения: 10 сентября 2020 - 12 октября 2021</div>-->
            <div class="font-semibold text-lg">Место проведения: {{ project.address }}</div>
            <div class="font-light py-6">
              {{ project.description }}
            </div>
            <div class="flex flex-wrap">
              <div class="mr-3 mb-3 border-2 border-gray-2 text-gray-2 rounded-full px-4 py-2" v-for="i in project.tags">{{ i.title }}</div>
            </div>

            <a target="_blank" :href="project.href">Подробнее о проекте -></a>

          </div>
        </div>

        <hr class="pattern my-8">

        <div class="flex w-full flex-wrap ">
          <div class="flex flex-col w-full lg:w-3/5 pr-0 pr-lg-5" v-if="project.text">
            <h1 class="text-2xl font-bold mb-2">Описание проекта</h1>
            <div class="font-light" v-html="project.text"></div>
          </div>

          <div class="flex flex-column w-full lg:w-2/5 pr-0 pr-lg-5">
            <div class="font-semibold text-lg">Участники проекта: </div>
            <div class="flex flex-col">
              <div class="flex mb-1 pl-1 font-light" v-for="(item,index) in project.participants">
                {{ index+1 }}. {{ item.full_name }}
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

    <section class="section section--dark">
      <div class="container mx-auto">
        <h1 class="text-3xl font-bold mb-6">Другие проекты</h1>

        <div class="grid gap-4 grid-cols-1 md:grid-cols-2 xl:grid-cols-3 mb-6">
          <ProjectCard
            v-for="(item, i) in extraProjects"
            :key="'project-card-' + i"
            :project="item"
            :to="{name: 'projects-slug', params: {slug: item.slug}}"
          />
        </div>
      </div>
    </section>

  </div>
</template>

<script>

import projects from "../../mixins/projects";
import ProjectCard from "../../components/projects/ProjectCard";

export default {
  layout: 'white',
  data() {
    return {
      project: false
    }
  },
  components: {
    ProjectCard
  },
  mixins: [projects],
  mounted() {
      this.$axios.get('projects/' + this.$route.params.slug).then((res) => this.project = res.data.data)

      this.loadExtraProjects()
      // this.project = this.projects.find((item) => item.slug == this.$route.params.slug)
  },
  computed: {
    extraProjects() {
        return this.$store.getters['projects/where'](this.relatedFilter)
    },
    relatedFilter() {
      return {
        filter: {
          relatedTo: this.$route.params.slug
        },
        options: {
          itemsPerPage: 6
        }
      }
    }
  },
  methods: {
    async loadExtraProjects() {
      return await this.$store.dispatch('projects/loadWhere', this.relatedFilter)
    }
  }
}
</script>

<style scoped>

</style>
