<template>
  <div>
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" aria-current="page">
            <nuxt-link to="/">Главная</nuxt-link>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Проекты</li>
        </ol>
      </nav>
    </div>
    <div class="container py-16">
      <div class="flex items-center pb-8">
        <div class="lg:w-2/3">
          <h1 class="text-3xl font-bold mb-2">Проекты</h1>
          <div class="py-4 mb-2">
            <b>Проекты и решения</b> в области информационных технологий представляют собой <b>проекцию цели заказчик</b> а на
            возможности современных и перспективных технологий через призму компетенции, опыта и инженерного видения
            ИТ-партнера. В рамках проектов могут решаться самые разные задачи – <b>от разработки кода до построения IOT - экосистемы</b>, но общими чертами всех IТ-проектов можно назвать
            необходимость выбора технологий и услуг, лучше всего <b>соответствующих задаче
            заказчика</b> , и способность интегратора заглянуть в будущее, за пределы поставленных требований, чтобы
            предложить <b>решение на длительную перспективу</b> .
          </div>

          <div class="flex flex-col md:flex-row justify-between lg:items-center mb-8">
            <div class="flex flex-wrap justify-center md:justify-start flex-1 pb-8 md:pb-0">
              <FilterButton
                v-for="(item, i) in tags" :key="'tags-button'+i"
                :active="filterTags.includes(item)"
                @click.native="selectTag(item)"
                class="mb-2 mt-2 mr-2 hoverable"
              >
                {{ item.title }}
              </FilterButton>
            </div>
          </div>
        </div>
        <div class="w-1/3 flex justify-end hidden lg:block">
          <img class="max-h-350" src="~assets/img/hand.png" alt="">
        </div>
      </div>
      <div class="grid gap-4 grid-cols-1 md:grid-cols-2 xl:grid-cols-3 mb-6">
        <ProjectCard
          v-for="(item, i) in items"
          :key="'project-card-' + i"
          :project="item"
          :to="{name: 'projects-slug', params: {slug: item.slug}}"
        />
      </div>
      <!--      <Button v-if="disableLoadMoreButton" class="mx-auto bg-gray-5 text-gray-2" @click.native="loadNext">-->
      <!--        <div class="flex items-center">-->
      <!--          <span class="mr-2">Загрузить еще</span>-->
      <!--          <clip-loader v-if="loadingNext" class="flex items-center" :color="'#4F4F4F'" :size="'16px'"/>-->
      <!--        </div>-->
      <!--      </Button>-->
    </div>
  </div>
</template>

<script>
import ProjectCard from "@/components/projects/ProjectCard";
import FilterButton from "~/components/common/FilterButton";
import TheNavbarWhite from '~/components/TheNavbarWhite.vue'
import TheFooter from '~/components/TheFooter.vue'
import projects from "@/mixins/projects";

export default {
  name: "index",
  layout: 'white',
  // mixins: [projects],
  components: {
    ProjectCard,
    FilterButton,
    TheNavbarWhite,
    TheFooter,
  },
  computed: {
    items() {
      if (this.filterTags.length === 0) {
        return this.projects
      }
      return this.projects.filter(item => this.filterTags.some(filter => item.tags.includes(filter)))
    },

    projects() {
      return this.$store.getters['projects/all']
    },
  },
  async created() {

    await this.loadProjects()
    this.projects.forEach(item => {
      item.tags.forEach((item) => {
        console.log(item)
        if (!this.tags.find((tag) => tag.name == item)) {
          this.tags.push(item)
        }
      })
    })
    this.tags = [...new Set(this.tags)];
  },
  data() {
    return {
      filterTags: [],
      tags: []
    }
  },
  methods: {
    selectTag(value) {
      if (!this.filterTags.includes(value)) {
        return this.filterTags.push(value)
      }
      this.filterTags = this.filterTags.filter((item, index) => item.name !== value.name)

    },
    async loadProjects() {
      return await this.$store.dispatch('projects/loadAll')
    }
  }
}
</script>

<style scoped>

</style>
