<template>
  <div>
    <section class="section about">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <img src="~assets/img/mobile_testing.svg">
          </div>
          <div class="col-md-7" style="padding: 2em">
            <h1>Формирование лаборатории</h1>
            <p>
              <b>Инжиниринговый центр мобильных решений</b> был основан в 2017 году на базе <b>РТУ МИРЭА</b> и за годы
              работы разработал и воплотил в жизнь множество проектов,
              связанных с информационными технологиями.
              Каждый год команда <strong>ExpLabs</strong> проводит набор новых <b>перспективных кадров</b>, и именно
              благодаря свежему взгляду молодых сотрудников, все проекты выглядят ново и креативно.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-7" style="padding: 2em">
            <h1>Руководитель центра</h1>
            <div>
              <p><strong>Магомедов Шамиль Гасангусейнович</strong> <br/> Директор</p>
              <div>
                Адрес: г. Москва, пр-т Вернадского, д. 78 c8 <br/>
                Телефон: +7 (499) 215-65-65 доб. 6803 <br/>
                IP: 6803 <br/>
                E-mail: magomedov_sh@mirea.ru <br/>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <img src="~assets/img/user_profile.svg" style="padding-top: 3em; width: 120%">
          </div>
        </div>
      </div>
    </section>

    <!--      <section class="section">-->
    <!--        <div class="container">-->
    <!--          <div class="row">-->
    <!--            <div class="col-md-6">-->

    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </section>-->
    <!--Carousel Wrapper-->
    <section class="section">
      <div class="container">
        <h1 class="mb-4">Направления работы центра</h1>
        <TheAccordion v-for="(item, index) in departments" :key="`direction-${index}`" :title="item.title" :content="item.description"/>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      departments: [
        {
          title: 'Научно-исследовательская лаборатория нейтрализации отходов',
          description: 'Лаборатория ведет исследования эффективности кавитационного реактора для снижения класса опасности опасных отходов: илового осадка и сточных вод промышленности и ЖКХ, формирование математической модели работы гидродинамического реактора, разработка методики обработки гетерофазных рабочих сред в гидродинамическом реакторе для достижения максимального эффекта дальнейшей очистки обработанной среды.',
        },
        {
          title: 'Отдел ИТ-проектирования',
          description: 'Отдел предоставляется следующие услуги: <br/>' +
            '1. Разработка информационных сервисов, в том числе унифицированных и ориентированных под конкретного заказчика. <br/>' +
            '2. Техническая поддержка и сопровождение реализованных информационных сервисов. <br/>' +
            '3. Сбор, обработка и анализ информации о направлениях использования информационных сервисов; <br/>' +
            '4. Формирование баз статистических данных по услугам, оказываемых пользователями информационных сервисов и прочие поддерживающие услуги.',

        },
        {
          title: 'Отдел мобильных разработок',
          description: 'Сотрудники отдела мобильных разработок создают приложения любой сложности под платформы iOS и Android, в том числе, приложения виртуальной и дополненной реальности (VR\\AR). В разработке не используются готовые шаблоны и каждое приложение уникально с точки зрения дизайна и функционала.',

        },
        {
          title: 'Отдел разработки ИТ – решений',
          description: 'Отдел занимается ведением работ на всех стадиях от инициирования проекта и подготовки технического задания до завершения тестирования и ввода в эксплуатацию. Сотрудники имеют опыт моделирования сложных и разработки высоконагруженных систем.',
        },
        {
          title: 'Научно-исследовательская лаборатория верификации и валидации',
          description: 'Лаборатория работает над созданием методологической базы технологий исследования состояния сложных технических систем на всех этапах жизненного цикла. Методология проведения работы заключается в создание алгоритмов, методик и программ вибродиагностики динамически нагруженных изделий машиностроения, верификации программ и валидации полученных данных.',
        },
        {
          title: 'Отдел онлайн-обучения',
          description: 'Разрабатывается дополнительная профессиональная образовательная программа повышения квалификации «Базовый сертифицирующий курс по технологии KNX» для повышения квалификации руководителей специализированных производственно-эксплуатационных подразделений в промышленности, строительстве и ЖКХ, инженеров по промышленному и гражданскому строительству, инженеров-электриков и инженеров-энергетиков управляющих компаний ЖКХ, техников по промышленному и гражданскому строительству, техников-механиков, системных интеграторов, специалистов по автоматизации инженерных систем.',

        },
        {
          title: 'Инженерный отдел',
          description: 'Отдел занимается робототехникой и 3D моделированием, выполняет работы с микроконтроллерами и электроникой, осуществляет программирование микроконтроллеров, светодиодное оформление, моделирование и конструирование различных деталей и корпусов из пластика, разработка механизмов. Выполненные проекты: блок управления для СКУД, подвальный детектор, светодиодная лампада (имитация горения), прототип «умного» дома с голосовым управлением, ночник (зажигание ночью), прототип манипулятора, электроника для «умного» чемодана, чайник по WI-FI и другие.',

        },
        {
          title: 'Научная лаборатория фотоники видимого и радиодиапазонов',
          description: 'Лаборатория занята выявлением физических принципов поглощения электромагнитной энергии в миллиметровой области спектра сверхтонкими протяженными наноразмерными проводящими структурами, а также технологических подходов к их получению. Результаты выполненной работы по исследованию существующих принципов, методов и средств создания поглощающих структур на лабораторных экспериментальных образцах, включая проработку отдельных технологических операций и выявлены новые физические принципы поглощения электромагнитной энергии в миллиметровой области спектра сверхтонкими протяженными наноразмерными проводящими структурами, а также технологические подходы к их получению.',

        },
        {
          title: 'Научно-испытательная лаборатория',
          description: 'Ведутся работы по двум направлениям: <br/>' +
            '1. Исследование алгоритмов биометрической идентификации пользователя. <br/>' +
            '2. Создание методологической базы технологии «цифровых двойников», как процесса управления жизненным циклом изделия.',

        },
        {
          title: 'Международная лаборатория критических и сверхкритических явлений в функциональной электронике, акустике и флюидике',
          description: 'Основные задачи лаборатории сосредоточены на изучении статических, квазистатических и динамических критических и сверхкритических явлений в мультифизических областях функциональной электроники, акустики и жидкостей. Фундаментальные исследования сфокусированы на особенностях связанных нелинейных систем вблизи равновесных и неравновесных фазовых переходов.\n' +
            'С учетом перспективных инновационных приложений определены три актуальные направления: <br/>' +
            '1. Мультистабильные наноструктуры в элементах обработки информации (в частности, энергонезависимая оперативная память MELRAM с сверхмалым энергопотреблением). <br/>' +
            '2. Материалы критического состояния - бозонные микро-наноструктуры в функциональной электронике и терагностике.<br/>' +
            '3. Функциональная микрофлюидика и динамика интерфейса, сложные взаимодействия между акустическими волнами в микрогидродинамических средах.',

        },
      ]
    }
  },
}
</script>

<style lang="scss">
</style>
