.section {
    background-color: inherit;
    padding: 4rem 0;
    @include media-breakpoint-down(sm) {
        padding: 5rem 0;
    }
    &--dense {
        padding: 2rem 0;
        @include media-breakpoint-down(sm) {
            padding: 1rem 0;
        }
    }
    //overflow-y: hidden;
    //overflow-x: hidden;
    &--light {
        background-color: $light;
        color: $body-color;
    }
    &--dark {
        background-color: $dark;
        color: $white;
        .card {
            color: $dark;
        }
    }
    &__heading {
        margin-bottom: 2rem;
    }
    .illustration {
        &--offcanvas {
            margin-top: -4rem;
            width: 650px;
            @include media-breakpoint-down(lg) {
                //width: 676px;
            }
            @include media-breakpoint-down(lg) {
                position: relative;
                margin: 2rem 0 -2rem 0;
                width: 100%;
            }
        }
    }
}