<template>
  <button
    class="flex items-center rounded-full py-1 px-4 focus:outline-none"
    :class="classes"
  >
    <div class="flex items-center">
      <span class="font-semibold">
        <slot/>
      </span>
    </div>
  </button>
</template>

<script>
export default {
  name: "FilterButton",
  computed: {
    classes() {
      let classes = [];
      if (this.active) {
        classes.push('border-0')
        classes.push('text-white')
        classes.push('bg-blue-light')
      } else {
        if (this.border) {
          classes.push('border')
        }
        classes.push('bg-transparent')
        this.dark ?
          classes.push('text-white') :
          classes.push('text-gray-2', 'border-gray-2')
      }
      return classes.join(' ')
    }
  },
  props: {
    active: {
      type: Boolean,
      default: false,
    },
    dark: {
      type: Boolean,
      default: false,
    },
    border: {
      type: Boolean,
      default: true
    }
  },
}
</script>

<style scoped>
</style>
