<template>
  <div class="w-full py-8">
    <div
        class="flex rounded-full w-full px-4 py-2 max-h-48"
        :class="dark ? 'search-input-background text-white' : 'bg-gray-5 text-gray-2'"
    >
      <SearchIcon
          class="w-8"
          :class="dark ? 'icon--dark' : 'icon'"
      />
      <input type="text"
             :placeholder="placeholder"
             :value="value"
             @input="updateValue($event.target.value)"
             class="search-input bg-transparent outline-none w-full px-6 lg:text-xl"
             :class="dark ? 'text-white' : 'text-gray-2'"
      />
      <CancelIcon
          v-if="value"
          class="w-8 cursor-pointer"
          @click="updateValue('')"
          :class="dark ? 'icon--dark' : 'icon'"
      />
    </div>
  </div>
</template>

<script>
import SearchIcon from "~/assets/img/icons/search.svg"
import CancelIcon from "~/assets/img/icons/cancel.svg"

export default {
  name: "SearchInput",
  components: {
    SearchIcon,
    CancelIcon
  },
  props: {
    placeholder: {
      type: String,
      default: 'Поиск...'
    },
    value: {
      type: String
    },
    dark: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    updateValue: function (value) {
      this.$emit('input', value)
    }
  }
}
</script>

<style scoped>
.search-input-background {
  background: rgba(0, 0, 0, 0.5);
}
.search-input::placeholder {
  color: #BDBDBD;
}
</style>
