<template>
  <button :disabled="disabled" class="flex justify-center rounded-full py-2 px-6 focus:outline-none">
    <div class="flex items-center">
      <span :class="textClass">
        <slot/>
      </span>
    </div>
  </button>
</template>

<script>
export default {
  name: "TheButton",
  props: {
    disabled: {
      type: Boolean,
      default: false,
    },
    textClass: {
      type: String,
      default: 'font-semibold'
    }
  }
}
</script>

<style scoped>
button[disabled] {
  background-color: gray !important;
  cursor: default;
}

button {
  transition: all .4s ease-in-out;
}

button:hover {
  cursor: pointer;
  transform: scale(1.025);
}
</style>
