<template>
  <div>
    <section class="section section--dark ">
      <div class="container">
        <div class="row section__heading">
          <div class="col-md-10 col-xs-12">
            <h1>Лаборатория современных решений</h1>
            <p class="lead">Инжиниринговый центр мобильных решений – перспективный научный центр, который объединил
              усилия молодых специалистов на развитии и изучении наиболее актуальных аспектов в информационной сфере.
              <br>Используя передовые технологии, мы создаем принципиально новый продукт, с которым ваша компания выйдет
              на новый уровень!</p>
            <ul class="list-inline">
              <li class="list-inline-item">
                <nuxt-link :to="{name: 'robotics'}">Робототехника</nuxt-link>
              </li>
              <li class="list-inline-item">
                <nuxt-link to="Web">Веб-разработка</nuxt-link>
              </li>
              <li class="list-inline-item">
                <nuxt-link to="Modeling">3D-Моделирование</nuxt-link>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section about">
      <div class="container">
        <div class="row section__heading">
          <div class="col-12">
            <h1>Инжиниринговый Центр Мобильных Решений</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <p>В 2017 году в <b>МИРЭА - Российском Технологическом университете</b> начал формироваться инжиниринговый
              центр
              мобильных решений <strong>«ExpLabs»</strong>, в котором разрабатываются научные проекты, связанные с
              информационными технологиями. </p>
            <p>Большинство сотрудников ИЦМР <b>&laquo;ExpLabs&raquo;</b> являются <b>студентами последних курсов</b>
              ИКБСП,
              это даёт заметное преимущество Explabs, благодаря ежегодном добору перспективных кадров, все проекты в ИЦ
              выглядят ново, благодаря свежему взгляду молодых работников. </p>
            <p>Основное направление нашей работы - это создание <b>инновационных разработок</b> в различных сферах
              деятельности, а также программирование на языках <b>С++ и Python</b> .</p>
            <p>Помимо работы мы занимаемся разработкой учебных программ и обучением <b>школьников и студентов</b>
              разработке
              устройств на платформах &laquo;Arduino&raquo; и &laquo;Raspberry Pi&raquo;</p>
            <p>Мы регулярно участвуем в соревнованиях <b>CaptureTheFlag</b>, посещаем различные форумы, митапы, для того
              чтобы прокачать свои знания, проверить себя, найти единомышленников.</p>
            <p>Мы всегда рады новым сотрудникам и для каждого найдется место в нашей <b>дружной команде</b>, если хочешь
              попасть в инжиниринговый центр мобильных решений &laquo;ExpLabs&raquo; пиши нам в <b>любую из социальных
                сетей</b>.</p>
            <nuxt-link :to="'about-us'" class="btn btn-outline-dark">Подробнее об ИЦМР</nuxt-link>
          </div>
          <div class="col-md-4">
            <img class="illustration illustration--offcanvas" src="~assets/img/illustrations/fast_working.svg"
                 alt="presentation">
          </div>
        </div>
      </div>
    </section>

    <section class="section about">
      <div class="container">
        <h1 class="py-5">Новости</h1>
        <news/>
      </div>
    </section>

    <!-- <section class="section events">
        <div class="container">
            <div class="row section__heading">
                <div class="col-12 h1">События</div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="card card--dark card--event">
                        <div class="card-body">
                            <h5>Лекциии по Веб-разработке</h5>
                            <span class="card__date">23 Апреля</span>
                        </div>
                            <div class="card__icon">
                            <i class="arrow right"></i>
                            </div>
                        <a class="full" href=""></a>
                    </div>
                </div>
                    <div class="col-12 col-md-6">
                <div class="card card--dark card--event">
                    <div class="card-body">
                        <h5>Квест от Explabs</h5>
                        <span class="card__date">Скоро</span>
                    </div>
                        <div class="card__icon">
                        <i class="arrow right"></i>
                        </div>
                <a class="full" href=""></a>
                </div>
            </div>
        </div>
    </div>
</section> -->

    <section class="section section--dark ">
      <div class="container">
        <h1 class="py-5">Разработка проектов <span class="text-primary">«под ключ»</span></h1>
        <pricing/>
      </div>
    </section>


  </div>
</template>

<script>

import Pricing from '../components/Pricing.vue'
import News from "~/components/index/News";

export default {
  name: 'Index',
  components: {
    Pricing,
    News,
  }
}
</script>

<style lang="scss" scoped>
.section, .section--dark {
  overflow: hidden;
}

.illustration, .illustration--offcanvas {
  margin: 2rem;
}

.card {
  margin-top: 2rem;
  margin-bottom: 50px;
  border-radius: 15px;
}

i {
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
</style>
