<template>
<div class="wrap">
    <header>
        <section class="page-header page-header--light">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-10">
                        <h1>Тренинг центр KNX</h1>
                        <p class="lead">
                        На базе РТУ МИРЭА в Инжинириговом Центре Мобильных Решений создан сертифицированный тренинг центр KNX.
                        </p>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" aria-current="page"><nuxt-link to="/">Главная</nuxt-link></li>
                        <li class="breadcrumb-item active" aria-current="page">Тренинг центр KNX</li>
                    </ol>
                </nav>
                </div>
                    <div class="col-12 col-lg-3 ml-lg-auto" id="hiden-img">
                    <img class="illustration illustration--offcanvas" src="~assets/img/illustrations/presentation.svg" alt="presentation">
                    </div>
                </div>
            </div>
        </section>
    </header>

        <section class="section section--light benefits">
            <div class="container">
            <div class="row section__heading">
                <div class="col-12">
                    <h1>Что дает этот курс</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-4">
                <div class="card card--feature">
                    <div class="card-body">
                        <div class="card__heading">
                        <h5 class="card-title">Персональный сертификат&nbsp;<br/> «KNX&nbsp;Partner»</h5>
                        <img class="card__icon" src="~assets/img/icons/icons8-certificate-100.png" alt="certificate">
                        </div>
                            <p class="card-text">
                            Позволяет выполнять работы по установке и пуско-наладке систем автоматизации KNX на территории
                            Евросоюза
                            </p>
                    </div>
                </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                <div class="card card--feature">
                    <div class="card-body">
                        <div class="card__heading">
                        <h5 class="card-title">Материалы и учебные пособия</h5>
                        <img class="card__icon" src="~assets/img/icons/icons8-opened-folder-100.png" alt="opened-folder">
                        </div>
                            <p class="card-text">
                            Позволяет выполнять работы по установке и пуско-наладке систем автоматизации KNX на территории
                            Eвросоюза
                            </p>
                    </div>
                </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                <div class="card card--feature">
                    <div class="card-body">
                        <div class="card__heading">
                            <h5 class="card-title">Скидки на программное обеспечение</h5>
                            <img class="card__icon" src="~assets/img/icons/icons8-discount-100.png" alt="discount">
                        </div>
                            <p class="card-text">
                            Позволяет выполнять работы по установке и пуско-наладке систем автоматизации KNX на территории
                            Евросоюза
                            </p>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </section>

        <section class="section section--light program">
            <div class="container">
                <div class="row section__heading">
                    <div class="col-12">
                    <h1>Программа курса</h1>
                    </div>
                </div>

            <div class="row">
                <div class="col-12">
                    <div class="timeline">
                        <div class="timeline__item">
                        <h5>Понедельник</h5>
                            <div class="text">
                            <ul class="list-unstyled">
                                <li>Аргументы в пользу использования технологии KNX</li>
                                <li>Коммуникация в протоколе KNX</li>
                            </ul>
                            </div>
                        </div>
                        <div class="timeline__item">
                        <h5>Вторник</h5>
                            <div class="text">
                            <ul class="list-unstyled">
                                <li>Топология в протоколе KNX</li>
                                <li>Имплементация телеграмм в KNX</li>
                            </ul>
                            </div>
                        </div>
                        <div class="timeline__item">
                        <h5>Среда</h5>
                            <div class="text">
                            <ul class="list-unstyled">
                                <li>Шинные устройства в KNX</li>
                                <li>Задачи инсталляции в KNX</li>
                            </ul>
                            </div>
                        </div>
                        <div class="timeline__item">
                        <h5>Четверг</h5>
                            <div class="text">
                            <ul class="list-unstyled">
                                <li>Особенности Power Line KNX</li>
                                <li>Разработка проекта</li>
                                <li>Повторение пройденного материала</li>
                            </ul>
                            </div>
                        </div>
                        <div class="timeline__item">
                        <h5>Пятница</h5>
                            <div class="text">
                            <ul class="list-unstyled">
                                <li>Экзамен</li>
                            </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
</div>
</template>

<script>

export default 
{
}
</script>

<style lang="scss" scoped>
@import "~bootstrap/scss/bootstrap";
    #hiden-img
    {
        margin-right: auto;
            @include media-breakpoint-down(md) 
            {
                overflow: hidden;
            }
    }
</style>
