<template>
    <div class="models">
        <div class="triangle triangle--dark"></div>

        <section class="section section--light ">
            <div class="container">
                <div class="row section__heading">
                    <div class="col-md-6 col-xs-12">
                        <h1>3D-моделирование в современном мире</h1>
                        <p>3D-моделирование играет важную роль в жизни современного общества. Сегодня оно широко используется в сфере маркетинга, архитектурного дизайна, кинематографии, а также промышленности. 3D моделирование играет важную роль при проведении презентации и демонстрации какого-либо продукта или услуги. Благодаря появлению и популяризации 3D-печати, 3D-моделирование перешло на новый уровень и стало востребовано во всех сферах человеческой жизни. Естественно, не все разбираются в 3D-программах и умеют моделировать объемные объекты. Поэтому востребованность профессии в области 3D моделирования выросла в разы за последнее десятилетие.</p>
                    </div>
                    <div class="col-md-6 ml-lg-auto col-xs-12">
                        <img class="illustration illustration--offcanvas  illustration--bold" srcset="~assets/img//bold_model.png 1x, ~assets/img//bold_model@2x.png 2x, ~assets/img//bold_model@3x.png 3x" alt="presentation">
                    </div>
                </div>
            </div>
        </section>

        <div class="triangle triangle--light"></div>

        <section class="section section--dark" >

            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-xs-12 order-md-last">
                        <h1>Что такое 3D моделирование</h1>
                        <p>
                            3D-моделирование – это процесс создания виртуальных объемных моделей любых объектов. Для построения объемной модели предмета используются специальные программные продукты визуализации и аппаратные устройства в виде компьютеров, планшетов и оргтехники. При моделировании важным этапом является рендеринг – преобразование черновой вариации модели в приятный для глаз формат.
                        </p>
                    </div>
                    <div class="col-md-6 col-xs-12 ml-lg-auto order-md-first">
                        <img class="illustration illustration--offcanvas  illustration--car" srcset="~assets/img//apper_model_car.png 1x, ~assets/img//apper_model_car@2x.png 2x, ~assets/img//apper_model_car@3x.png 3x," alt="presentation">
                    </div>
                </div>

            </div>

        </section>

        <div class="triangle triangle--dark"></div>

        <section class="section section--light">
            <div class="container">
                <div class="row section__heading">

                    <div class="col-md-6 col-xs-12">
                        <h1>Способ работы с 3D объектами</h1>
                        <p>В настоящее время 3D-модели создаются с помощью графических программ, которые позволяют создавать трёхмерную графику, то есть моделировать объекты виртуальной реальности и создавать на основе этих моделей изображения. Созданные модели можно посмотреть со всех сторон (сверху, снизу, сбоку), встроить на любую плоскость и в любое окружение, а также способность динамически менять настройки и параметры печати. Вот одни из самых известных графических программ: Autodesk 3dsMax, AutoCAD, Maya, Blender, Cinema4D, Компас3D, Rhinoceros, Google SketchUp</p>
                    </div>
                    <div class="col-md-6 col-xs-12 ml-lg-auto ">
                        <img class="illustration illustration--offcanvas illustration--hren" srcset="~assets/img//hren.png 1x, ~assets/img//hren@2x.png 2x, ~assets/img//hren@3x.png 3x," alt="presentation">
                    </div>
                </div>
            </div>
        </section>

        <div class="triangle triangle--light"></div>

        <section class="section section--dark " >

            <div class="container">
                <div class="row">
                    <div class="col-md-6 order-md-last">
                        <h1>Дополнительные инструменты в работе 3D моделирования</h1>
                        <p>
                            3D-модели можно создать с помощью 3D-сканирования – это автоматический сбор и анализ данных реального объекта, а именно формы, цвета и других характеристик, с последующим преобразованием в цифровую трехмерную модель.

                            Трехмерное сканирование дает возможность получить сложно профильную объемную модель исследуемого объекта – 3D сканер оцифровывает предмет, что позволяет быстро сделать его математическую модель для последующей печати на принтере.
                        </p>
                    </div>
                    <div class="col-md-6 ml-lg-auto order-md-first">
                        <img class="illustration illustration--offcanvas illustration--gears" srcset="~assets/img//gears.png" alt="presentation">
                    </div>
                </div>

            </div>

        </section>


        </div>

</template>

<script>
export default {}
</script>

<style lang="scss">
</style>