<template>
  <div class="row">
    <div
      class="col-12 col-md-6 col-xl-3 mb-4"
      v-for="item in activities"
      :key="item.id"
    >
      <div class="card box-shadow text-center h-100">
        <div class="card-header">
          <div class="d-flex flex-column">
            <div v-html="item.icon" class="mx-auto mb-3" style="height: 40px; width: 40px"/>
            <h5 class="my-0 font-weight-bold text-uppercase">
              {{ item.title }}
            </h5>
          </div>
        </div>
        <div class="card-body d-flex flex-column">
          <ul class="list-unstyled mt-3 mb-4">
            <template v-for="item in item.items">
              <li class="border-bottom py-2">{{ item }}</li>
            </template>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
  computed: {
    ...mapGetters({
      activitiesAll: `activities/all`
    }),
    activities() {
      return this.activitiesAll
    }
  },

  mounted() {
    this.loadActivities()
  },

  methods: {
    ...mapActions({
      loadActivities: `activities/loadAll`
    })
  },
};
</script>
