<template>
  <div class="d-flex flex-column w-100 py-2">
    <div class="d-flex align-items-center w-100 noselect" style="cursor: pointer" @click="showContent = !showContent">
      <div v-if="showContent === false">
        +
      </div>
      <div v-else>
        -
      </div>
      <div class="ml-4">
        <h6 class="m-0">
          {{ title }}
        </h6>
      </div>
    </div>
    <transition
      name="accordion"
      @enter="start"
      @after-enter="end"
      @before-leave="start"
      @after-leave="end">
      <div v-show="showContent" class="py-3" v-html="content">
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: "TheAccordion",
  props: ['title', 'content'],
  data() {
    return {
      showContent: false,
    }
  },
  methods: {
    start(el) {
      el.style.height = el.scrollHeight + "px";
    },
    end(el) {
      el.style.height = "";
    }
  }
}
</script>

<style scoped>
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome, Edge, Opera and Firefox */
}
.accordion-enter-active,
.accordion-leave-active {
  will-change: height, opacity;
  transition: height 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
}

.accordion-enter,
.accordion-leave-to {
  height: 0 !important;
  opacity: 0;
}
</style>
