<template>
<div>
  <b-navbar toggleable="lg" type="light" variant="light">
  <b-navbar toggleable="lg"  class="container" variant="light">

    <b-navbar-brand href="/"><span class="font-weight-bold">ИЦМР</span></b-navbar-brand>
    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <div class="ml-auto">
        <nuxt-link class="pr-3" :to="{name: 'knx'}">KNX</nuxt-link>
        <nuxt-link :to="{name: 'about-us'}" class="pr-3">Об ИЦМР</nuxt-link>
        <nuxt-link :to="{name: 'projects'}">Проекты</nuxt-link>
      </div>
    </b-collapse>
  </b-navbar>
  </b-navbar>
</div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
$dark: #242424;
$light: #F2F2F2;
.navbar {
  .navbar-brand {
    font-family: 'Exo 2', 'Exo', sans-serif;
    font-size: 2.25rem;
  }
}
</style>
