<template>
<div>
    <section class="page-header page-header--dark">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                        <li class="breadcrumb-item" aria-current="page"><nuxt-link to="Index">Главная</nuxt-link></li>
                        <li class="breadcrumb-item active" aria-current="page">Современная веб-разработка</li>
                        </ol>
                    </nav>
                        <h1>Современная веб-разработка</h1>
                        <p class="lead">Сложная веб-разработка и корпоративные решения, автоматизация бизнеса и производства</p>
                </div>
                <div class="col-md-6">
                    <img class="illustration illustration--offcanvas phone" src="~assets/img/illustrations/iPhone X.svg" alt="presentation">
                </div>
            </div>
        </div>
    </section>
        
    <main>
    <section class="section section--dark landings">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Лендинги</h1>
                        <p>
                        В интернете второго шанса произвести впечатление на посетителя просто нет. Именно поэтому дизайн
                        вашего лендинга чрезвычайно важен. Лендинг — это лицо вашей компании во всемирной паутине. Поскольку
                        лендинги создаются с целью продаж, то каждое слово и любой компонент одностраничника должны
                        ненавязчиво, без давления побуждать посетителя к действию. Качественный одностраничник не отпустит
                        посетителя, продемонстрирует ярко и красочно все выгоды и подтолкнет к принятию решения. Обращаясь к
                        нам, вы можете быть уверены, что ваш сайт будет уникальным, запоминающимся и на 100% выполняющим ваши
                        задачи.
                        </p>
                </div>
            </div>
        </div>
    </section>

    <div class="triangle triangle--dark"></div>

    <section class="section section--light business">
        <div class="container">
            <div class="row section__heading">
            <div class="col-md-6 order-md-last">
                <h1>Бизнес приложения</h1>
                    <p>
                    Неважно, стремитесь ли Вы развивать новые направления или пытаетесь сконцентрироваться на
                    существующих, бизнес-приложения помогут повысить эффективность работы вашего предприятия.
                    Бизнес-приложения — неотъемлемая часть современной компании. Информацией обмениваются, информация
                    хранится, информация получается из баз данных. Удобство, простота, безопасность и отказоустойчивость
                    всех этих действий обеспечивается бизнес-приложениями. Электронная почта, система унифицированных
                    сообщений, контакт-центр, система управления персоналом, система тарификации, центр обработки данных,
                    мультимедийные системы — все это вы можете доверить нам.
                    </p>
            </div>
                <div class="col-md-6 ml-lg-auto order-md-first">
                    <img class="illustration illustration--offcanvas illustration--imac" src="~assets/img/illustrations/iMac.png" alt="presentation">
                </div>
            </div>
        </div>
    </section>

    <div class="triangle triangle--light"></div>

    <section class="section section--dark crm">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>CRM-системы</h1>
                        <p>
                            CRM - это универсальный инструмент для вашего бизнеса. Представьте вместо таблиц Excel, мессенджеров,
                            множества документов остается один-единственный сервис. В него входят программы для сбора данных о
                            клиентах, управления сделками, контроля за менеджерами, аналитики и прогнозирования. Он упрощает
                            рутину, ускоряет принятие правильных решений и исключает ошибки. Если говорить коротко, то CRM
                            помогает зарабатывать больше и легче, а значит, с ней вы сможете успешнее развивать свой бизнес. В
                            2015 году консалтинговая компания Capterra опросила 500 компаний и выяснила, что после внедрения CRM
                            их прибыль выросла от 25 до 35%. За статистикой скрывается выгода реальных компаний. Готовы стать
                            эффективнее и зарабатывать больше? Напишите нам и мы свяжемся с вами и уточним все подробности.
                        </p>
                </div>
                    <div class="col-md-6 ml-lg-auto">
                    <img class="illustration illustration--offcanvas illustration--macbook" src="~assets/img/illustrations/Macbook.png" alt="presentation">
                    </div>
            </div>
        </div>
    </section>

    <div class="triangle triangle--dark"></div>

    <section class="section adaptive-web section--light">
        <div class="container">
            <div class="row section__heading justify-content-end">
                <div class="col-md-6">
                <img class="adaptive img-fluid" src="~assets/img/illustrations/adaptive.png" alt="presentation">
                </div>
                <div class="col-md-6">
                    <h1>Адаптивная верстка</h1>
                    <p>
                    Google официально объявил адаптивный веб-дизайн приоритетным инструментом для создания мобильных
                    версий сайтов. Адаптивная верстка сайта позволяет веб-страницам автоматически подстраиваться под
                    экраны планшетов и смартфонов. Мобильный интернет-трафик растет с каждым годом и чтобы эффективно
                    обрабатывать этот трафик, нужно предлагать пользователям адаптивные сайты с удобным интерфейсом.
                    Адаптивные сайты имеют большую конверсию, увеличивают продажи, имеют большую поисковую оптимизацию.
                    Все веб-сервисы Explabs имеют на 100% адаптивный дизайн, с нами, вы можете быть уверены, что ваш сайт
                    будет прекрасен на всех устройствах.
                    </p>
                </div>
            </div>
        </div>
    </section>
    </main>
</div>
</template>

<script>

export default 
{
}
</script>

<style lang="scss" scoped>
</style>
