<template>
  <div class="grid gap-4 grid-cols-1 lg:grid-cols-3 sm:grid-cols-1 mb-6">
    <NewsCard v-for="(item, i) in items" :key="'news-card-' + i" :item="item" class="mx-auto"/>
  </div>
</template>

<script>
import NewsCard from "~/components/news/NewsCard";
import withLoadMorePagination from "~/mixins/withLoadMorePagination";

export default {
  name: "News",
  components: {
    NewsCard,
  },
  mixins: [withLoadMorePagination],
  data: () => ({
    resource: 'news',
    options: {
      page: 1,
      itemsPerPage: 3,
      sort: ''
    },
  }),
}
</script>

<style scoped>

</style>
