<template>
  <div v-if="news">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" aria-current="page">
            <nuxt-link to="/">Главная</nuxt-link>
          </li>
          <li class="breadcrumb-item" aria-current="page">
            <nuxt-link to="/news">Новости</nuxt-link>
          </li>
          <li class="breadcrumb-item active" aria-current="page">{{ news.title }}</li>
        </ol>
      </nav>
    </div>
    <div class="container py-16">
      <h1 class="text-3xl font-bold mb-2">{{ news.title }}</h1>
      <div class="relative aspect-ratio-16-9__wrapper mb-4">
        <div
          class="
            absolute
            rounded-t
            w-full
            h-full
            bg-cover
            bg-center
            bg-no-repeat
          "
          :style="`background-image: url('${news.poster_url}')`"
        ></div>
      </div>
      <div class="mb-16" v-html="news.body">
      </div>
    </div>
    <section class="section">
      <div class="container mx-auto">
        <h1 class="text-3xl font-bold mb-6">Другие новости</h1>

        <div class="grid gap-4 grid-cols-1 lg:grid-cols-3 sm:grid-cols-1 mb-6">
          <NewsCard v-for="(item, i) in relatedNews" :key="'news-card-' + i" :item="item" class="mx-auto"/>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import NewsCard from "~/components/news/NewsCard";
import {mapActions, mapGetters} from "vuex";

export default {
  name: "_slug",
  layout: 'white',
  components: {
    NewsCard
  },
  computed: {
    ...mapGetters({
      relatedNewsGetter: 'news/where',
    }),
    newsPayload() {
      return {id: this.$route.params.slug};
    },
    relatedPayload() {
      return {
        filter: {
          relatedTo: this.$route.params.slug
        },
        options: {
          itemsPerPage: 3
        }
      }
    },
    news() {
      return this.$store.getters.newsBySlug(this.$route.params.slug)
    },
    relatedNews() {
      return this.relatedNewsGetter(this.relatedPayload)
    },
  },
  methods: {
    ...mapActions({
      loadNewsBySlug: 'news/loadById',
      loadRelatedNews: 'news/loadWhere',
    }),

    async loadResources() {
      await this.loadNewsBySlug(this.newsPayload);
      await this.loadRelatedNews(this.relatedPayload)
    }
  },
  mounted() {
    this.loadResources()
  }
}
</script>

<style scoped>
.aspect-ratio-16-9__wrapper {
  width: 100%;
  padding-bottom: 56.25%;
}
</style>
