<template>
  <div>
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" aria-current="page">
            <nuxt-link to="/">Главная</nuxt-link>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Новости</li>
        </ol>
      </nav>
    </div>
    <div class="container py-16">
      <div class="flex items-center pb-8">
        <div class="lg:w-2/3">
          <h1 class="text-3xl font-bold mb-2">Новости</h1>

          <!--          <div class="flex flex-col md:flex-row justify-between lg:items-center mb-8">-->
          <!--            <div class="flex flex-wrap justify-center md:justify-start flex-1 pb-8 md:pb-0">-->
          <!--              <FilterButton-->
          <!--                v-for="(item, i) in tags" :key="'tags-button'+i"-->
          <!--                :active="filterTags.includes(item)"-->
          <!--                @click.native="selectTag(item)"-->
          <!--                class="mb-2 mt-2 mr-2 hoverable"-->
          <!--              >-->
          <!--                {{ item.title }}-->
          <!--              </FilterButton>-->
          <!--            </div>-->
          <!--          </div>-->
        </div>
      </div>
      <div class="grid gap-4 grid-cols-1 lg:grid-cols-3 sm:grid-cols-1 mb-6">
        <NewsCard v-for="(item, i) in items" :key="'news-card-' + i" :item="item" class="mx-auto"/>
      </div>
      <TheButton v-if="!disableLoadMoreButton" dark class="mx-auto bg-primary text-light" @click.native="loadNext">
        <div class="flex items-center">
          <span class="mr-2">Загрузить еще</span>
        </div>
      </TheButton>
    </div>
  </div>
</template>

<script>
import FilterButton from "@/components/common/FilterButton";
import SearchInput from "@/components/common/SearchInput";
import NewsCard from "~/components/news/NewsCard";
import withLoadMorePagination from "@/mixins/withLoadMorePagination";
import TheButton from "~/components/common/TheButton";

export default {
  name: "index",
  layout: 'white',
  mixins: [withLoadMorePagination],
  components: {
    FilterButton,
    SearchInput,
    NewsCard,
    TheButton,
  },
  data: () => ({
    resource: 'news',
    tags: [],
    filter: {
      search: '',
    },
    options: {
      page: 1,
      itemsPerPage: 9,
      sort: ''
    },
  }),
}
</script>

<style scoped>

</style>
