<template>
  <div>
    <the-navbar />
    <nuxt></nuxt>
    <the-footer />
  </div>
</template>

<script>

import TheFooter from "../components/TheFooter";
import TheNavbar from "../components/TheNavbar";
export default {
  name: "default.vue",
  components: {TheFooter}
}
</script>

<style scoped>

</style>
