<template>
  <div>
    <the-navbar-white />
    <nuxt></nuxt>
    <the-footer />
  </div>
</template>

<script>

import TheFooter from "../components/TheFooter";
import TheNavbarWhite from "../components/TheNavbarWhite";
export default {
  name: "default.vue",
  components: {TheFooter, TheNavbarWhite}
}
</script>

<style scoped>

</style>
