<template>
  <div>
    <About />
    <section class="section--dark "></section>
  </div>
</template>

<script>
import TheNavbar from '../components/TheNavbarWhite.vue'
import About from '~/components/about-us/About.vue'
import TheFooter from '../components/TheFooter.vue'
export default {
  components:{
    TheNavbar,
    About,
    TheFooter
  }
}
</script>

<style>
</style>
