<template>
  <div>
    <index-page/>
    <section class="section--dark ">
    </section>
  </div>
</template>

<script>

import TheNavbar from '~/components/TheNavbar.vue'
import IndexPage from '../components/IndexPage.vue'
import TheFooter from '../components/TheFooter.vue'

export default {
  name: 'Index',
  components: {
    TheNavbar,
    IndexPage,
    TheFooter
  }
}
</script>

<style>
.container {
  max-width: 1140px;
}
</style>

