<template>
  <div>
    <KNX />
    <Gallery />
  </div>
</template>

<script>
import TheNavbarWhite from '~/components/TheNavbarWhite.vue'
import KNX from '~/components/KNX.vue'
import Gallery from '~/components/Gallery.vue'
import TheFooter from '../components/TheFooter.vue'

export default {
  layout: 'white',
  components:{
    TheNavbarWhite,
    KNX,
    Gallery,
    TheFooter
  }
}
</script>
<style lang="scss">
</style>
