<template>
  <div>
    <ModelingComponent/>
  </div>
</template>

<script>
import TheNavbar from '~/components/TheNavbar.vue'
import ModelingComponent from '~/components/ModelingComponent.vue'
import TheFooter from '../components/TheFooter.vue'

export default {
  components:{
    TheNavbar,
    ModelingComponent,
    TheFooter
  }
}
</script>

<style>
</style>
