<template>
    <div>
        <RoboticsComponent />
    </div>
</template>

<script>
import TheNavbar from '~/components/TheNavbar.vue'
import RoboticsComponent from '~/components/RoboticsComponent.vue'
import TheFooter from '../components/TheFooter.vue'

export default
{
    components:
    {
        TheNavbar,
        RoboticsComponent,
        TheFooter,
    }
}
</script>
