<template>
    <div>
        <Web />
    </div>
</template>

<script>
import TheNavbar from '~/components/TheNavbar.vue'
import Web from '~/components/Web.vue'
import TheFooter from '../components/TheFooter.vue'

export default
{
     components:
    {
        TheNavbar,
        Web,
        TheFooter
    }
}
</script>

<style lang="scss" scoped>
    .section--light, .page-header--light
    {
        overflow-x: hidden;
        overflow-y: hidden;
    }
</style>
