<template>
  <nuxt-link
    :to="to"
    class="flex relative rounded-2xl text-white hoverable"
    :class="small ? 'aspect-ratio-16-9__wrapper--small' : 'aspect-ratio-16-9__wrapper'"
  >
    <div
      class="p-3 pt-2 rounded-2xl w-full h-full absolute project-card"
      :style="`background-image: url(${project.poster_url})`"
    >
      <div class="flex flex-col justify-between h-full">
        <div class="flex justify-between items-center z-10">
          <div class="rounded-full flex items-center py-2 px-4 project-card__time" v-if="project.address">
            <span class="font-semibold">{{ project.address }}</span>
          </div>
        </div>
        <div class="text-lg lg:text-base font-semibold z-10">
          {{ project.title.substring(0,100)+"..." }}
        </div>
      </div>
    </div>
  </nuxt-link>
</template>

<script>
export default {
  name: "ProjectCard",
  components: {
  },
  props: {
    project: {
      type: Object,
      required: true,
    },
    to: {
      type: Object,
      required: true,
    },
    small: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data() {
    return {
    }
  },
}
</script>

<style scoped>
.project-card {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.project-card:after {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.525678) 51.8%, #000000 87.26%), linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 51.8%, #000000 100%);
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.4;
  border-radius: 16px;
}

.project-card__time {
  background: rgba(0, 0, 0, 0.5);
}

.aspect-ratio-16-9__wrapper {
  width: 100%;
  padding-bottom: 56.25%;
}

.aspect-ratio-16-9__wrapper--small {
  width: 70%;
  padding-bottom: calc(70% * 0.5625);
}
</style>
